<!-- <div class="col-12 col-sm-10 col-md-5 col-lg-5 rounded p-3 pb-3 mx-auto">
            <div class="shadow card d-flex flex-column w-100 border border-primary align-items-center pt-2" style="border-radius: 15px 15px 15px 15px;">
              <div class="mt-0 border border-primary w-75 text-center pb-2 mx-auto" style="background-color:#bfb0fc; height: 30px;border-radius: 15px 15px 15px 15px;">
                <b><small>Forecasted PM2.5 (Next 5 Hours)</small></b>
              </div>
              <div class="w-100 m-1 px-2 d-flex flex-row text-center align-items-center justify-content-between", style="background-color: #fcfffe; border-radius: 15px 15px 15px 15px;">
                {% for i in range(5) %}
                <div class="m-2">
                  <div id="pm2p5" class="shadow m-2 col-md-12 text-center border border-primary p-2 infoDiv" style="height:80%; border-radius: 20px 20px 20px 20px; cursor: pointer;">
                    
                    <div class="mt-0 border border-primary w-100 mx-auto text-center text-sm-center pb-4" style="background-color:#bfb0fc; height: 30px;border-radius: 15px 15px 15px 15px;">
                      <p class="mx-auto h7-sm h7"><b><small>AQI</small></b></p>
                    </div>
                    <p class="h3 pt-2">{{forecast['AQI'].iloc[i]|int}}</p>
                    <small class="text-muted pb-2"><i style="font-size: small;"> {{forecast.index[i]}}</i></small>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div> -->